.next/
node_modules
src/server/database/db/*.db
.DS_Store
*.log
build/
changes.diff
backup.backup
src/server/firebase/serviceAccount.json
/.idea/codeStyles/
/.idea/inspectionProfiles/
/.idea/sonarlint/
/.idea/.gitignore
/.idea/aws.xml
/.idea/background-geolocation-console.iml
/.idea/misc.xml
/.idea/modules.xml
/.idea/vcs.xml
